<div class="alert alert-error shadow-lg snackbar w-1/2 mx-auto inset-x-0" [ngClass]="{ show: showAlert }">
  <div>
    <i class="uil uil-exclamation-octagon"></i>
    <span [innerText]="alertText"></span>
  </div>
</div>

<table class="table w-full">
  <!-- head -->
  <thead>
    <tr>
      <th>ID</th>
      <th>Correo</th>
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <th>{{ employee.id }}</th>
      <td>{{ employee.email }}</td>
      <td>{{ employee.firstName }}</td>
    </tr>
  </tbody>
</table>
