<div class="p-8 grid gap-y-3">
  <button
    *ngFor="let button of buttons"
    class="btn btn-block gap-5"
    routerLinkActive=""
    #link="routerLinkActive"
    [routerLink]="[button.route]"
    [ngClass]="link.isActive ? 'btn-primary' : 'btn-ghost'"
  >
    <i class="uil text-xl" [ngClass]="button.icon"></i>
    <span class="mr-auto">{{ button.name }}</span>
  </button>

  <!-- <button
    class="btn btn-block btn-ghost gap-5"
    [routerLink]="['/dashboard/transactions']"
    routerLinkActive="btn-primary"
  >
    <i class="uil uil-bill text-xl"></i>
    <span class="mr-auto">Transacciones</span>
  </button>

  <button class="btn btn-block btn-ghost gap-3">
    <i class="uil uil-users-alt text-xl"></i>
    <span class="mr-auto">Trabajadores</span>
  </button>

  <button class="btn btn-block gap-3">
    <i class="uil uil-puzzle-piece text-xl"></i>
    Automatizaciones
  </button> -->
</div>
